<% include templates/header.ejs %>
<% include templates/sidebar.ejs %>
    <div class="container-fluid">
		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				
				<a href="#">Dashboard</a>
			</li>
			<li class="breadcrumb-item active">Overview</li>
		</ol>			
		<!-- Icon Cards-->
		<div class="row dashboardSection">
			<div class="col-md-12">
				<div class="row mb-5">
					
				</div>
			</div>
		</div>
	</div>

<% include templates/footer.ejs %>
